@mixin fadeInDown ($distancia , $tiempo){
  @keyframes fadeInDown {
    from {
      opacity: 1;
      transform: translate3d(0, $distancia, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  animation: fadeInDown $tiempo; 
}
@mixin fadeInUp ($distancia , $tiempo){
  @keyframes fadeInUp {
    from {
      opacity: 1;
      transform: translate3d(0, $distancia, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  animation: fadeInUp $tiempo;
}
  
@mixin fadeInRight ($distancia, $tiempo){
  @keyframes fadeInRight {
   
    from {
      opacity: 0;
      transform: translateX($distancia);
    }
  
    to {
      opacity: 1;
    }
  } 
  animation: fadeInRight $tiempo;
}
  
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(400px);
    }
  
    to {
      opacity: 1;
    }
  } 


@mixin fadeInLeft($distancia , $tiempo){
  
  @keyframes fadeInLeft {
    from {
      transform: translateX($distancia);
    }
  }  
  animation:fadeInLeft $tiempo;
}

@mixin opacity ($tiempo) {
  @keyframes opacity {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
 animation: opacity $tiempo;
 
}


@keyframes opacity-container {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


@keyframes opacity-faq-pointer {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

