/*---Backgrounds----*/
$background-main:#EED6D3;
$background-logo: #f7baca;
$background-bar:#dfa1b4;
$background-bar-hover:#e28fa8;
$background-section:rgb(255, 236, 236);
$background-burger:#d17498;
/*---FIN Backgrounds----*/
/*---FONTS---*/
$font: Poppins, sans serif;
$font-important:#d3859d;
/*---FIN FONTS---*/
/*---QUIENES SOMOS FIN----*/
$highlight:#e94879;
$marco:#dbafba;
/*---QUIENES SOMOS FIN----*/
/*---FAQ--- */
$faq-titles:#b895cf;
$faq-contactanos:#91abda3f;
/*---FIN FAQ---*/
